<button
  type="button"
  class="btn btn-primary m-3"
  data-toggle="modal"
  data-target="#exampleModal"
  *ngIf="kanban.title"
>
  <fa-icon [icon]="editIcon"></fa-icon>
</button>

<!-- <button
  type="button"
  class="btn btn-primary m-3"
  data-toggle="modal"
  data-target="#deleteModal"
> 
  Delete Board
  <fa-icon [icon]="trashIcon"></fa-icon>
</button> -->


<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Task</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="boardTitle">Board Title</label>
            <input
              type="text"
              class="form-control"
              disabled
              placeholder="{{ kanban ? kanban.title : '' }}"
            />
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter description"
              name="description"
              [(ngModel)]="default.description"
              #description
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="onSubmit(description.value)"
          data-dismiss="modal"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>



 <div class="example-container mt-5">
  <h2>Backlog</h2>
  <div
    id="backlog"
    cdkDropList
    #backlogList="cdkDropList"
    [cdkDropListData]="backlog"
    [cdkDropListConnectedTo]="[todoList, inprogressList, doneList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="example-box" *ngFor="let item of backlog" cdkDrag>
      {{ item.description }}
      <button class="btn btn-class" (click)="deleteTask(item)">
        <fa-icon [icon]="trashIcon"></fa-icon>
      </button>
    </div>
  </div>
</div>
<div class="example-container mt-5">
  <h2>Todos</h2>
  <div
    id="todo"
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="todos"
    [cdkDropListConnectedTo]="[backlogList, inprogressList, doneList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="example-box" *ngFor="let item of todos" cdkDrag>
      {{ item.description }}
      <button class="btn btn-class" (click)="deleteTask(item)">
        <fa-icon [icon]="trashIcon"></fa-icon>
      </button>
    </div>
  </div>
</div>

<div class="example-container mt-5">
  <h2>In Progress</h2>
  <div
    id="inprogress"
    cdkDropList
    #inprogressList="cdkDropList"
    [cdkDropListData]="inprogress"
    [cdkDropListConnectedTo]="[backlogList, todoList, doneList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="example-box" *ngFor="let item of inprogress" cdkDrag>
      {{ item.description }}
      <button class="btn btn-class" (click)="deleteTask(item)">
        <fa-icon [icon]="trashIcon"></fa-icon>
      </button>
    </div>
  </div>
</div>
<div class="example-container mt-5">
  <h2>Done</h2>
  <div
    id="done"
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="done"
    [cdkDropListConnectedTo]="[todoList, backlogList, inprogressList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="example-box" *ngFor="let item of done" cdkDrag>
      {{ item.description }}
      <button class="btn btn-class" (click)="deleteTask(item)">
        <fa-icon [icon]="trashIcon"></fa-icon>
      </button>
    </div>
  </div>
</div>
