<div class="container mt-5" style="height: '50%'; width: '50%';">
  <div class="card border-primary">
    <div class="card-body text-center">
      <h4 class="card-title">Create Board</h4>
      <form>
        <div class="form-group row text-center">
          <label class="col-3">User Name</label>
          <input
            type="text"
            class="col-5"
            name="userName"
            placeholder="Enter user name"
            #userName
          />
        </div>
        <div class="form-group row">
          <label class="col-3">Title</label>
          <input
            type="text"
            class="col-5"
            name="title"
            placeholder="Enter title"
            #title
          />
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
              <button (click) = "submitBoard($event, userName.value, title.value)" type="submit" class="btn btn-primary">Create</button>
            </div>
          </div>
      </form>
    </div>
  </div>
</div>
